.logged-status {
  margin: 10px;
}
.user-dropdown {
  margin: 10px;
}

.display-resources {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media screen and (max-width: 1000px) {
  .display-resources {
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.add-comment-input:focus,
.add-comment-input:active,
.add-comment-input {
  border: none;
  outline: none;
  width: 100%;
}

.show-less {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.resource-card-header {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.like-buttons {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.like-buttons * {
  margin: 0.25rem 0.25rem;
  width: 6rem;
  font-size: 1.5rem;
  padding: 0rem;
}

.hideCaret {
  caret-color: transparent;
}
